<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-card-content>
    <ion-card>
        
        <iframe height="200px" width="350px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTsLwhvLVKIGSEBCO-c88L5ksSHi8EhDnpJA-CPhGf2myYn-Q0cGTuHxi3oqMF8-dWNZEiuYM_V3G1Q/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    </ion-card>
    <ion-card>
        <iframe  height="200px" width="350px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS2I7oxdsCw9lxoelLOW7XDlqf-dYWtBpbI2ZfVsY_4a3lmhWO3Rkn6UGU0qnTmunEyKZL_0tcvJXTU/pubhtml?widget=true&amp;headers=false"></iframe>
      </ion-card>
      <ion-card>
        <iframe  height="200px" width="350px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSzbM9SAEAxBN69CHoBn18x0ytWz6grcz-Y9pmbtJnrE0yMXPk5oy2a6c4wxm8cN5r02pzPvxUOXx9O/pubhtml?widget=true&amp;headers=false"></iframe>
      </ion-card>
    </ion-card-content>
      </ion-content>
