<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




    <ion-slides class="ion-margin-bottom">
      <ion-slide>
      <ion-card>
        <ion-card-header >
          <a target="_blank" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRSyGBZ5v3O8DD1gMSUPbHUoOth9lzk7BYT51I6u63M3fAQEvCgZQQuEqaARvZqH6Ytp97zqeYd33LV/pub?gid=0&single=true&output=pdf" title="Pra Examination Result (PER)" > <img src="assets/imgs/3.png" >  </a> 
          </ion-card-header>
      </ion-card>
    </ion-slide>
     
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <a target="_blank" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRSyGBZ5v3O8DD1gMSUPbHUoOth9lzk7BYT51I6u63M3fAQEvCgZQQuEqaARvZqH6Ytp97zqeYd33LV/pub?gid=96583507&single=true&output=pdf" title="Pra Examination Result (PER)" > <img src="assets/imgs/4.png" >  </a>
          </ion-card-header>
      </ion-card>
    </ion-slide>
      
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <a target="_blank" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRSyGBZ5v3O8DD1gMSUPbHUoOth9lzk7BYT51I6u63M3fAQEvCgZQQuEqaARvZqH6Ytp97zqeYd33LV/pub?gid=1928209442&single=true&output=pdf" title="Pra Examination Result (PER)" > <img src="assets/imgs/5.png" >  </a>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>



    <div class="gamba">
      <ion-img src="assets/imgs/header2.png" class="ion-align-self-end"></ion-img>
      </div>
      </ion-content>
