<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Examination</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <svg xmlns="assets/imgs/2.svg">
    <foreignObject>
     
  </foreignObject>
  </svg>

  <div class="center">
  <iframe  height="500px" width="350px" style="display: inline;" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT-y-g6OHiEOl4GJ3GO0cUHfHSWWQ_1l7U4FRmyaPVmzC3GZpzs93ORqCrs7AwNQ9tLLflhe8GaJZII/pubhtml?widget=true&amp;headers=false"></iframe>
  </div>
  
  
  
</ion-content>
<ion-footer >
    
  <ion-img src="assets/imgs/headerrotate.png" class="ion-align-self-end"></ion-img>

</ion-footer>
