
ion-card{
    display: inline-block;
    flex-direction: column;
    width: 300px !important;
    margin: -4px !important;
    color: #f1f1f1;
    
   
    
 
 
  }
  .gamba{
     
      width: 100%;
      
      
  }
  
 

