<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Examination</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="gamba">
    <ion-img src="assets/imgs/header1.png" class="ion-align-self-end"></ion-img>
    </div>
 


  <ion-slides class="ion-margin-bottom">
    <ion-slide>
    <ion-card>
      <ion-card-header >
        <a target="_blank" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vT-y-g6OHiEOl4GJ3GO0cUHfHSWWQ_1l7U4FRmyaPVmzC3GZpzs93ORqCrs7AwNQ9tLLflhe8GaJZII/pub?gid=0&single=true&output=pdf" title="Pra Examination Result (PER)" > <img src="assets/imgs/3.png" >  </a> 
        </ion-card-header>
    </ion-card>
  </ion-slide>
   
  <ion-slide>
    <ion-card>
      <ion-card-header>
        <a target="_blank" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vT-y-g6OHiEOl4GJ3GO0cUHfHSWWQ_1l7U4FRmyaPVmzC3GZpzs93ORqCrs7AwNQ9tLLflhe8GaJZII/pub?gid=1449059355&single=true&output=pdf" title="Pra Examination Result (PER)" > <img src="assets/imgs/4.png" >  </a>
        </ion-card-header>
    </ion-card>
  </ion-slide>
    
  <ion-slide>
    <ion-card>
      <ion-card-header>
        <a target="_blank" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vT-y-g6OHiEOl4GJ3GO0cUHfHSWWQ_1l7U4FRmyaPVmzC3GZpzs93ORqCrs7AwNQ9tLLflhe8GaJZII/pubhtml?gid=1944148849&single=true" title="Pra Examination Result (PER)" > <img src="assets/imgs/5.png" >  </a>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>

    


    




</ion-content>
