<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Information</ion-title>
    <ion-buttons slot="end">
      <ion-button class="bordered" >
        <ion-icon color="light" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="bannergambar">
<ion-img src="assets/imgs/header.png" class="ion-align-self-end"></ion-img>
</div>

<ion-card-content class="ion-text-center">
  <div class="horizontal">
  <ion-card>
    <ion-card-header>
        <img src="assets/imgs/exam.png"  (click)="exam()"> 
        <p><center>Exam</center></p>
      </ion-card-header>
  </ion-card>

  <tr></tr>
  
 

  <ion-card>
    <ion-card-header>
        <img src="assets/imgs/schedule.png" (click)="schedule()" >
        <p><center>Schedule</center></p>
      </ion-card-header>
  </ion-card>

  <tr></tr>

  <ion-card>
    <ion-card-header>
        <img src="assets/imgs/calendar.png" (click)="cal()">
        <p><center>Calendar</center></p>
      </ion-card-header>
  </ion-card>
</div>


</ion-card-content>
  




  
  
  
   





 
  





</ion-content>


  
  
  
  
      
   
  
 


  
