<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Examination</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  
  <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTgnpJslw2iCc1d4LHHu-6aEhe_PmvOSrl_3kJ6ydrqAnqbdN2BuZx965eFxsf-nECg3jPIhWqFyo1x/pubhtml?widget=true&amp;headers=false"></iframe>

  <a target="_blank" title="Pra Examination Result (PER)" href="https://docs.google.com/spreadsheets/d/1IHMTuuUUV_Gl5WHbQlA2AxUeBikBhXJcOTpiMUjLgPk/edit?usp=sharing" ><img src="assets/imgs/2.png"> </a>
 

    
   





 
  





</ion-content>
