ion-content{
    --ion-backgroud-color:#E1EAF9;
}
ion-header{
    position: absolute;
}
ion-toolbar{
    --ion-backgroud-color: transparent;
    --opacity:0;  
}
ion-title{
    color: #f1f1f1;
    
    
}