.hero {
    height: 30%;
    background: var(--ion-color-primary);
    color: #ffffff;
    }
    ion-avatar {
    margin: auto;
    width: 70px;
    height: 70px;
    }

    .bannergambar{
        position:static;
        width: 100%;
        z-index: 0;
        
     }