ion-footer{
    position: relative;
}
ion-content{
    --ion-backgroud-color:#E1EAF9;
}
.img{
  
   
    align-items: flex-end;
}
.centre{
    text-align: center;
}
.bannergambar{
    position:static;
    width: 100%;
    z-index: 0;
    
 }