<ion-header>
  <ion-toolbar color=primary>
    <ion-title>Kids Registration </ion-title>
  

  <ion-buttons slot="end">
    <ion-button class="bordered" >
      <ion-icon color="light" name="notifications"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

</ion-header>



<ion-content>
  <div class="bannergambar">
    <ion-img src="assets/imgs/header.png" class="ion-no-border"></ion-img>
  </div>
  
<ion-card-content class="text-align-centre">
<ion-card >
    <ion-item >
      <ion-label >
      <ion-input required type="text"   placeholder="Insert Name" [(ngModel)]="todo.name"></ion-input>
    </ion-label>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Choose Grade" [(ngModel)]="todo.age">
      <ion-select-option value="4th grade">4th grade</ion-select-option>
      <ion-select-option value="5th grade">5th grade</ion-select-option>
      <ion-select-option value="6th grade">6th grade</ion-select-option>
    </ion-select>
    </ion-item>

    <div class="centre">
    <ion-button  type="submit" color="success" shape="round" (click)="openToast()" (click)="saveTodo()" class="center">Arrived</ion-button>
  </div>
   
  </ion-card>
</ion-card-content>
  
 

  

  
</ion-content>






  
  
