<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Work</ion-title>
    <ion-buttons slot="end">
      <ion-button class="bordered" >
        <ion-icon color="light" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bannergambar">
  <img src="assets/imgs/headerguru.png">
</div>
<div class="bannertext">
  <h2 ><center>Organization Chart</center></h2>
</div>



  
  
  
   





 
  





</ion-content>

<ion-footer >
  
  
  <ion-card-content class="ion-text-center">
  <ion-card >
    <ion-card-header>
      <a target="_blank" title="Pra Examination Result (PER)" href="https://docs.google.com/spreadsheets/d/1IHMTuuUUV_Gl5WHbQlA2AxUeBikBhXJcOTpiMUjLgPk/edit?usp=sharing" > <img src="assets/imgs/exam.png" > </a>
        <p><center>Exam</center></p>
      </ion-card-header>
  </ion-card>
  
 

  <ion-card>
    <ion-card-header>
        <img src="assets/imgs/schedule.png" (click)="schedule()" >
        <p><center>Schedule</center></p>
      </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
        <img src="assets/imgs/calendar.png" (click)="cal()">
        <p><center>Calendar</center></p>
      </ion-card-header>
  </ion-card>
</ion-card-content>

  
  
      
   
  
 


  
</ion-footer>