<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Work</ion-title>
    <ion-buttons slot="end">
      <ion-button class="bordered" >
        <ion-icon color="light" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<div class="bannergambar">
  <ion-img src="assets/imgs/headerguru.png" class="ion-align-self-end"></ion-img>
  </div>


<ion-card-content class="ion-text-center">
  <ion-card >
    <ion-card-header>
      <a target="_blank" title="Pra Examination Result (PER)" href="https://docs.google.com/spreadsheets/d/1YUGNczhNhnBpAgZUD-gV4Azl4IrhoHuCs470KKjOcZE/edit?usp=sharing" > <img src="assets/imgs/exam.png" > </a>
        <p><center>Exam</center></p>
      </ion-card-header>
  </ion-card>
  
 

  <ion-card>
    <ion-card-header>
       <a target="_blank" title="Schedule" href="https://docs.google.com/spreadsheets/d/1Yd8F-xtbEF7uXiUI8h-ny1QD94j5VJR2F3YU0DX1Orc/edit?usp=sharing"> <img src="assets/imgs/schedule.png"  ></a>
        <p><center>Schedule</center></p>
      </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
        <img src="assets/imgs/calendar.png" (click)="cal()">
        <p><center>Calendar</center></p>
      </ion-card-header>
  </ion-card>
</ion-card-content>

  
  
  
   





 
  





</ion-content>


  
  

  
  
      
   
  
 


  
